* {
    margin: 0px;
    padding: 0px;
    background-color: #414141;
    color: #d3d7cf;
}

.center {
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
}

h1 {
    font-size: 5em;
    text-align: center;
}

hr {
    border-color: #87ff87;
}

ul {
    padding: 1em;
    list-style: none;
}

li {
    font-size: 1.5em;
    padding: 0 0.5em;
    display: inline;
}

a {
    text-decoration: none;
}

a:hover {
    color: #87ff87;
}

a:active {
    text-decoration: overline underline;
}
